<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自动化流程处理</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/easyfader.css">
    <!-- 引入js文件 -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- 自定义js文件 -->
    <script src="../static/js/index.js"></script>
</head>

<body>
    <!-- <div id="header"></div> -->
    <header>
        <nav>
            <h1><a href="#">自动化流程处理</a></h1>
            <!-- 导航菜单 ul>li*6>a -->

            <ul class="buttons">
                <li class="text"><a href="text.html"><span>
                        </span>文档介绍</a>
                </li>
                <li class="question"><a href="question.html"><span></span>
                        常用问题引导</a>
                </li>
                <li class="response"><a href="response.html"><span></span>自动回复</a>
                </li>

            </ul>
        </nav>
    </header>
    <footer>
        <div>
            <a href="#">自动化办公就是so easy</a>
            <a href="#">快来加入我们吧！</a>
        </div>
    </footer>

    <body>

    </body>

</html>