<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>聊天</title>
    <link rel="stylesheet" href="../static/css/talk.css">
    <script src="../static/js/talk.js"></script>
</head>


</div>
<body>
    <!-- 背景图片 -->
<img src="../static/images/14.jpg" alt="imgs">
<!-- 聊天框 -->
<div id="outer">
    <!-- <div  id="submit" >发送</div> -->
    <input type="text" id="con" />
    <ul id="talk">
</ul> 
</body>
<script>
var con = document.getElementById('con');
var talk = document.getElementById('talk');
document.onkeyup = function (e) {//键盘事件监听回车键
    var ev = e || event;
    if (ev.keyCode == 13) {
        if (con.value == '') {
            alert('内容不能为空！');
        } else {
            sendMsg();
            con.value = '';
        }
    }
}
function sendMsg() {
    var newLi = document.createElement('li');
    newLi.className = '我';
    newLi.innerHTML = '我:' + con.value;
    talk.appendChild(newLi);
    var xhr = null;//新建一个变量来存储ajax对象
    if (window.XMLHttpRequest) {//创建ajax对象兼容写法来兼容一般浏览器和ie浏览器 ajax链接第一步
        xhr = new XMLHttpRequest();
    } else {
        xhr = new ActiveXObject('Microsoft.XMLHTTP');
    }
        //拼接url
    var Url = 'http://www.tuling123.com/openapi/api?key=fb6b7bcfbe52fccdb7f5d752a3088f75&info=' + con.value + '&userid=1234567';
    xhr.open('get', Url, true);//打开和服务器链接 使用get方法异步传送
    xhr.send();//发送信息
    xhr.onreadystatechange = function () {//监测链接状态
        if (xhr.readyState == 4) {//判断是否是链接最后一个阶段
            if (xhr.status == 200) {//判断是否链接成功
                /*解析返回的信息*/
                var str = JSON.parse(xhr.responseText);
                var newLi2 = document.createElement('li');
                newLi2.className = '小美';
                newLi2.innerHTML = '小美:' + str.text;
                talk.appendChild(newLi2);
            } else {
                alert(xhr.status);
            }
        }
    }
}
</script>
</html>


